.brand-text {

    color: green; /* Adjust the color as needed */
    font-family: 'YourFont', sans-serif; /* Replace 'YourFont' with the desired font name or font stack */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    
  }

  .brand-container {
    display: flex;
    align-items: center;
  }
  
  .favicon {
    width: 20px;
    margin-right: 5px;
    margin-top: -2px; /* Adjust this value to move the favicon up or down */
  }