.user-avatar {
    display: flex;
    align-items: center;
    margin-right: -0.5rem;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.25rem;
  }
  
  .navbar .nav-link .dropdown-toggle-icon {
    margin-left: 0.5rem;
  }
  